@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1125px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}

.btn {
  background-color: #ee4248;
  color: #fff;
  padding: 12px 32px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.header {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item-2:not(:last-child) {
  margin-right: 24px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__item .arrow {
  position: relative;
  top: 6px;
  left: 8px;
  cursor: pointer;
}

.memu__link {
  color: rgba(31, 46, 53, 0.8);
  font-size: 18px;
  line-height: 21px;
}

.technology__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 59px 0;
}

.technology__body {
  margin-right: 17px;
}

.body__title {
  color: #1f2e35;
  font-size: 48px;
  line-height: 133.69%;
  font-weight: 700;
  margin-bottom: 24px;
}

.body__title span {
  font-weight: 700;
  color: #ee4248;
}

.body__sub-title {
  font-size: 20px;
  line-height: 29px;
  color: #30444e;
  margin-bottom: 24px;
}
